@model List<_2TDSPG_Cinema.Models.Ingresso>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingresso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IngressoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


